.productCart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 960px) {
  .productCart-wrapper {
    display: contents;
  }
}

.productCart-wrapper .prod-payment {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  max-width: 435px;
}

.productCart-wrapper .prod-payment .product-detail .product-title {
  border-bottom: 2px solid #eee;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
}

.productCart-wrapper .prod-payment .product-detail .product-price-bill {
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  padding: 16px 0 20px 0;
}

.productCart-wrapper .prod-payment .product-detail .product-price-bill .product-price-list {
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
}

.productCart-wrapper .prod-payment .product-detail .product-price-bill .product-price-list .pro-price {
  text-align: right;
}

.productCart-wrapper .prod-payment .product-action {
  -ms-grid-rows: (minmax(0, 1fr))[2];
      grid-template-rows: repeat(2, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
  gap: 24px;
  width: 199px;
  margin: 0 auto;
}

.productCart-wrapper .prod-payment .product-action .btn-paypal {
  width: 100%;
  background-color: #ffffff;
}

.productCart-wrapper .prod-payment .product-action .btn-paypal img {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.productCart-wrapper .prod-payment .product-action .btn-payment {
  min-height: 2rem;
  min-width: 8rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: white;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #2954ff;
  border: 2px solid #2954ff;
  border-radius: 9999px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  pointer-events: auto;
  -webkit-transition-duration: 256ms;
          transition-duration: 256ms;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: var(--venia-global-anim-standard);
          transition-timing-function: var(--venia-global-anim-standard);
  height: 40px;
}

.productCart {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.productCart .productCart-heading {
  text-align: center;
  margin-top: 33px;
}

.productCart .productCart-heading h1 {
  font-size: 48px;
}

@media screen and (max-width: 960px) {
  .productCart .productCart-heading h1 {
    font-size: 35px;
  }
}

.productCart .productCart-heading .cart-border {
  width: 102px;
  background-color: #1f39ff;
  height: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

@media screen and (max-width: 960px) {
  .productCart .productCart-heading .cart-border {
    margin-top: 20px;
  }
}

.productCart .product-cart-detail {
  width: 98%;
  min-width: 770px;
  padding-bottom: 10px;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail {
    min-width: auto;
  }
}

.productCart .product-cart-detail .product-container {
  -ms-grid-columns: minmax(17.5%, 166px) minmax(31.25%, 603px) auto;
      grid-template-columns: minmax(17.5%, 166px) minmax(31.25%, 603px) auto;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #eeee;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container {
    -ms-grid-columns: minmax(0%, 120px) minmax(31.25%, 603px) auto;
        grid-template-columns: minmax(0%, 120px) minmax(31.25%, 603px) auto;
    gap: 0.5rem;
  }
}

.productCart .product-cart-detail .product-container .product-image {
  border: 1px solid #eee;
  max-width: 166px;
  max-height: 200px;
  background-color: #ffffff;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-image {
    max-width: 100px;
    max-height: 120px;
  }
}

.productCart .product-cart-detail .product-container .product-image img {
  height: 183px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-image img {
    max-width: 100px;
    max-height: 120px;
  }
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-detail {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    display: -ms-grid;
    display: grid;
  }
}

.productCart .product-cart-detail .product-container .product-detail .product-title {
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
  padding-top: 10px;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-detail .product-title {
    font-size: 18px;
  }
}

.productCart .product-cart-detail .product-container .product-detail .action-event {
  display: none;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-detail .action-event {
    display: inline;
    text-align: right;
    font-size: 36px;
  }
}

.productCart .product-cart-detail .product-container .product-detail .product-wrapper {
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-detail .product-wrapper {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: (minmax(0, 1fr))[2];
        grid-template-rows: repeat(2, minmax(0, 1fr));
    display: -ms-grid;
    display: grid;
  }
}

.productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-vareation .prodinfo {
  padding: 5px;
}

.productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-qty {
  padding-top: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-qty {
    padding-top: 5px;
  }
}

@media screen and (max-width: 960px) {
  .productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-action {
    display: none;
  }
}

.productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-action .product-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  padding: 5px;
  cursor: pointer;
}

.productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-action .product-edit .edit-item {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../assets/images/edit.svg) no-repeat;
  background-size: contain;
}

.productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-action .product-edit .remove-item {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../assets/images/trash.svg) no-repeat;
  background-size: contain;
}

.productCart .product-cart-detail .product-container .product-detail .product-wrapper .product-action .product-edit .save-item {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../assets/images/fev.svg);
  background-size: contain;
}

.productCart .product-cart-detail .message-detail {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productCart .product-offer {
  border: 1px solid #d1d3d6;
  width: 98%;
  border-radius: 2px;
  -ms-grid-rows: (minmax(0, 1fr))[3];
      grid-template-rows: repeat(3, minmax(0, 1fr));
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .productCart .product-offer {
    width: 100%;
  }
}

.productCart .product-offer .product-assibility {
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
  border: 1px solid #d1d3d6;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  .productCart .product-offer .product-assibility {
    -ms-grid-rows: (minmax(0, 1fr))[3];
        grid-template-rows: repeat(3, minmax(0, 1fr));
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.productCart .product-offer .product-assibility .offer-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  color: #172026;
}

@media screen and (max-width: 960px) {
  .productCart .product-offer .product-assibility .offer-title {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

.productCart .product-offer .product-assibility .offer-shipping {
  text-align: right;
  -ms-grid-column: 3;
      grid-column-start: 3;
  color: #172026;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (max-width: 960px) {
  .productCart .product-offer .product-assibility .offer-shipping {
    text-align: left;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.productCart .product-offer .product-assibility .offer-shipping .toggle-arrow {
  float: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 5px;
}

.n-b {
  font-weight: 600;
}
/*# sourceMappingURL=cartdetail.css.map */